# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [ ]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv '
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [ ]:
data = pd.read_csv(r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### 3) See the first 10 entries

In [ ]:
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

### 5) What is the number of columns in the dataset?

### 6) Print the name of all the columns.

### 7) Which was the most-ordered item?

### 8) For the most-ordered item, how many items were ordered?

### 9) What was the most ordered item in the choice_description column?

### 10) How many items were ordered in total?

### 11) Turn the item price into a float

In [ ]:
item_price = []
for i in range(0,len(data['item_price'])):
  item_price.append( float( data['item_price'].values[i][1:] ) )

In [ ]:
data['item_price_$'] = item_price
data

,order_id,quantity,item_name,choice_description,item_price,item_price_$
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [ ]:
total_revenue =  ( data['quantity']*data['item_price_$'] ).sum()
total_revenue

39237.02

### 13) How many orders were made in the period?

In [ ]:
no_of_orders = len( data['order_id'].unique() )
no_of_orders

1834

### 14) What is the average revenue amount per order?

In [ ]:
total_revenue/no_of_orders

21.39423118865867

### 15) How many different items are sold?

In [ ]:
len( data['item_name'].unique() )

50